# ignore cache folder
/silverstripe-cache/

# ignore all environment files
_ss_environment.php

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/

# other stuff! - add your modules as you insert them so they don't get tracked - best practice is to use ~/$ composer update

nbproject
.netbeans.xml
tmp
/.DS_Store
/.DS_Store?
/Thumbs.db
stats

silverstripe.log
npm-debug.log

.idea
/cms
/framework
/siteconfig
/reports
/betterbuttons
/googleanalytics
/googlesitemaps
/gridfield-bulk-editing-tools
/gridfieldextensions
/lumberjack
/sortablegridfield
/tagfield
/datedropdownselectorfield

/silverstripe-googlemapfield-master
/blog
data/sql
silverstripe-googlemapfield-master/css/GoogleMapField.min.css
themes/pbdrc/css/parallax-scroll.css.map
themes/simple
