/*!
 * Pegasus Bay Drag Racing Club v1.0.0 (http://www.pbdrc.com)
 * Copyright 2017 Pegasus Bay Drag Racing
 * Designed by SNAP Web Designs (http://www.snapwebdesigns.co.nz)
 */

// White / White-Gray Base Colors
$white-base-primary:          #FEFEFE;
$white-gray-base:             #DDDDDD;
$gray-base-primary:             #555555;

// Black / Background Colors
$black-base-primary:          #000000;
$background-base:             #0B0002;

// Theme Font Colors
$theme-color-primary:         #FEFEFE;  // Main Primary Font Colors
$theme-color--secondary-1:    #FFE50D;
$theme-color--secondary-2:    #F19E14;
$theme-color--secondary-3:    #000000;

// Theme Navbar, Footer, Boarder  and Box Background Colors
$theme-background-color:      #222222;
$theme-form-background-color: #252528;
$theme-boarder-color:         #FFD50D;

$theme-breadcrumb-divider:   "»" !default;
