/*!
 !
 * Pegasus Bay Drag Racing Club v1.0.0 (http://www.pbdrc.com)
 * Copyright 2017 Pegasus Bay Drag Racing
 * Customized Contact Form Styling as well as for Security Login
 * Designed by SNAP Web Designs (http://www.snapwebdesigns.co.nz)
 */

// Core mixins and pbdrc-custom-theme
@import "mixins";
@import "pbdrc-custom-theme";

/*
* Pegasus Bay Drag Racing Club Contact Form Styling
*/

.Actions .action {
  display: block;
  width: 100%;
  color: $theme-color-primary;
  background-color: $theme-form-background-color;
  text-align: center;
  margin-top: 25px;
  padding: 8px 2em;
  font-size: 18px;
  line-height: 1.3333333;
  border: 1px solid $theme-form-boarder-color;
  border-radius: 4px;

  &:hover {
    background-color: $theme-color-secondary-2;
    color: $white-base-primary;
  }
}

.middleColumn .text, .middleColumn .dropdown, .middleColumn .textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: $theme-color-primary;
  background-color: $theme-form-background-color;
  background-image: none;
  border: 1px solid $theme-form-boarder-color;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:hover {
    border: 1px solid $theme-color-secondary-2;
    box-shadow: 2px 2px 4px lighten($theme-form-boarder-color, 20%);
  }
}

.middleColumn .textarea {
  height: auto;
}

