/*!
 * Pegasus Bay Drag Racing Club v1.0.0 (http://www.pbdrc.com)
 * Copyright 2017 Pegasus Bay Drag Racing
 * Customized Theme Layout Styling
 * Designed by SNAP Web Designs (http://www.snapwebdesigns.co.nz)
 */

// Custom theme
@import "pbdrc-custom-theme";

/*
 * Body and Content
 */
body {
  background-color: $black-base-primary;
  color: $theme-color-primary;
  font-size: $theme-font-base;
}

h1  { font-size: $theme-h1-font-size; }
h2  { font-size: $theme-h2-font-size; }
h3  { font-size: $theme-h3-font-size; }
h4  { font-size: $theme-h4-font-size; }
h5  { font-size: $theme-h5-font-size; }
h6  { font-size: $theme-h6-font-size; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: $theme-color-secondary-1;

  small {
    color: $theme-color-primary;
  }
}

a {
  color: $theme-color-secondary-1;

  &:hover {
    color: lighten($theme-color-secondary-2, 10%);
  }
}

hr {
  border-bottom: 1px solid $white-gray-base;
  padding-top: 5px;
}

.table {

  thead {

    th {
      border-bottom: 0;
    }
  }

  th {
    border-top: 0;
  }

  td {
    border-top: 0;
  }
}

.sponsor-media {
  //margin: 70px 0 0 auto;
  //padding-bottom: 15px;
  //padding-top: 15px;
}

.sponsor-body {
  margin: auto;
}

.btn-theme {
  color: $theme-color-secondary-1;
  background-image: none;
  background-color: transparent;
  border-color: $theme-color-secondary-1;
  font-size: 18px;
  border: 2px solid;

  &:hover {
    color: $theme-color-primary;
    background-color: $theme-color-secondary-2;
    border-color: $theme-color-secondary-2;
  }
}

// Pagination
.page-link {
  background-color: $black-base-primary;
  border: 2px solid $theme-color-secondary-1;
  color: $theme-color-secondary-1;

  &:hover {
    color: $theme-color-secondary-2;
    background-color: $black-base-primary;
    border-color: $theme-color-secondary-1;

  }
}

.page-item.disabled {

    .page-link {
      background-color: $black-base-primary;
      border: 2px solid $theme-color-secondary-1;
    }
}

/* Header Styling
------------------------- */
/*
 * Header
 */
header {
  padding-top: 2em;
}

.brand {

  img {
    display: block;
    width: 400px;
    max-width: 90%;
    height: auto;
    margin-left: 25px;
  }
}

.header-sponsor {

  img {
    margin-left: 15px;
  }
}

/* Navbar Styling
------------------------- */
/*
 * Navbar
 */
.navbar-dark {

  .navbar-nav {

    .nav-link {
      color: $theme-color-primary;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
      margin: 0 5px;

      &:hover {
        color: lighten($theme-color-secondary-2, 10%);
      }
    }

    .active {

      &> .nav-link {
        color: $theme-color-secondary-1;
      }
    }
  }
}


.nav-link,
.dropdown-item {
  text-transform: uppercase;
}

// dropdown menu items
.dropdown-item {

  &:hover {
    background-color: $theme-color-secondary-2;
  }
}

// mobile dropdown bar menu
.navbar-toggler {
  color: $theme-color-primary !important;
  border: 2px solid $theme-color-primary !important;
  position: relative;

  &:hover {
    color: lighten($theme-color-secondary-2, 10%) !important;
    border: 2px solid lighten($theme-color-secondary-2, 10%) !important;
  }
}

.collapse.show {
    padding-top: 1em; // giving more space between menu and button
}

/* Breadcrumbs Styling
------------------------- */
/*
 * Breadcrumbs
 */
.breadcrumb {
  background-color: $black-base-primary;
  text-transform: uppercase;
}


/* SideBar SideBarAdvert Styling
------------------------- */
/*
 * SideBar SideBarAdvert
 */
.advert {
  margin: auto;
}

.advert-imgs {
  padding-bottom: 1.25rem;

}




/* Footer Content Styling
------------------------- */
/*
 * Footer
 */
.footer {
  background-color: $theme-background-color;
  padding: 30px 15px;
  font-size: 12px;


  h4 {
    font-size: 18px;
    color: $theme-color-secondary-1;
  }
}

.footer-content {

  font-size: ceil(($theme-font-base - 2));
  text-align: center;

  .footer-widget {
    margin-top: 30px;
    padding-left: 15px;
  }
}

.footer-site {
  list-style-type: none;
  margin: 0;
  padding: 15px;

  li {
    margin: 0 0 8px;
    line-height: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    a {
      color: $white-base-primary;
      text-decoration: none;

      &:hover {
        color: lighten($theme-color-secondary-2, 10%);
      }
    }
  }
}

// footer contact
.footer-contact {
  list-style-type: none;
  margin: 0;
  padding: 15px;

  li {
    position: relative;
    display: block;
    padding-left: 5px;
    line-height: 20px;

    i {
      line-height: 20px;
      color: $theme-color-secondary-2;
      font-size: 18px;
    }

    p {
      display: inline-block;
      vertical-align: top;
      padding-left: 15px;
    }

    a {
      color: $theme-color-primary;

      &:hover {
        color: $theme-color-secondary-2;
      }
    }
  }
}

// footer social icons
.footer-social {
  margin: 0;
  padding: 10px;

  li {
    display: inline;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;

    a {
      text-decoration: none;
      color: $gray-base-primary;

      &:hover {
        color: lighten($theme-color-secondary-2, 10%);
      }

      .fa-icons {
        color: $white-base-primary;
      }
    }
  }
}

// footer copyright
#footer-copyright,
#footer-right {
  color: $theme-color-primary;
  font-size: 11px;
  text-align: center;
  padding: 0 15px;

  a {
    color: $theme-color-secondary-1;
    text-decoration: none;

    &:hover {
      color: lighten($theme-color-secondary-2, 10%);
      text-decoration: none;
    }
  }

  p {
    padding-right: 15px;
    font-size: 11px;
    color: $theme-color-primary;
  }
}

/* All Content Styling
------------------------- */
/*
 * Home page
 */
.bulitin {
  margin-bottom: 30px;
  padding-bottom: 15px;
}

/*
 * Card / Boxing
 */
.card {
  border: 2px solid $theme-boarder-color;
  margin-bottom: 30px;
}

.card-header {
  background-color: $theme-boarder-color;
  color: $black-base-primary;
  text-align: center;

  h1,
  h2,
  h3,
  h4 {
    color: $black-base-primary;
  }
}
.bg-theme {
  background-color: $theme-background-color;
}

/*
 * Events page
 */
.event-poster {
  padding: 15px 0;
}

/*
 * Contact page
 */
.contact {
  list-style-type: none;
  margin: 0;
  padding: 0 15px;
  font-size: 12px;

  li {
    position: relative;
    display: block;
    padding: 0 0 15px 5px;
    line-height: 20px;

    i {
      line-height: 20px;
      color: $theme-color-secondary-2;
    }

    p {
      display: inline-block;
      vertical-align: top;
      padding-left: 15px;
    }

    a {
      color: $theme-color-primary;

      &:hover {
        color: $theme-color-secondary-2;
      }
    }
  }
}

/* For Lager Devices
------------------------- */

// Large devices (desktops, 768px and up)
@media (min-width: 768px) {

 /*
 * Navigation and Brand / Logo Section
 */
  .navbar-nav {
    font-size: ceil(($theme-font-base +4));
  }

  .brand {
    margin-bottom: 10px;
    padding: 0;

    img {
      max-width: 90%;
      height: auto;
      margin-left: 0;
    }
  }

 /*
 * Header Area
 */
  .header-sponsor {

    img {
      height: auto;
      width: 180px;
      margin-top: 30px;
      margin-left: 15px;
    }
  }

  //.sponsor-body {
  //  padding-top: 65px;
  //}

  .sponsor-media {
    margin: 40px 0 0 auto;
  }


 /*
 * Content Area
 */


 /*
 * Footer Section
 */
  .footer-content {
    font-size: $theme-font-base;
    text-align: left;

    .footer-widget {
      margin-top: 0;
      padding-left: 15px;

      .footer-social {
        text-align: left;
      }
    }
  }

 /*
 * Footer Copyright
 */
  #footer-copyright {
    text-align: left;
  }

  #footer-right {
    text-align: right;
  }

 /*
 * Contact page notification
 */
  .contact {
    font-size: inherit;
  }
}



