/*!
 * Pegasus Bay Drag Racing Club v1.0.0 (http://www.pbdrc.com)
 * Copyright 2017 Pegasus Bay Drag Racing
 * Customized Theme Layout Styling
 * Designed by SNAP Web Designs (http://www.snapwebdesigns.co.nz)
 */
/*!
 * Pegasus Bay Drag Racing Club v1.0.0 (http://www.pbdrc.com)
 * Copyright 2017 Pegasus Bay Drag Racing
 * Designed by SNAP Web Designs (http://www.snapwebdesigns.co.nz)
 */
/*
 * Body and Content
 */
body {
  background-color: #000000;
  color: #FEFEFE;
  font-size: 14px; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.17rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.83rem; }

h6 {
  font-size: 0.67rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #FFE50D; }
  h1 small,
  h2 small,
  h3 small,
  h4 small,
  h5 small,
  h6 small {
    color: #FEFEFE; }

a {
  color: #FFE50D; }
  a:hover {
    color: #f4b244; }

hr {
  border-bottom: 1px solid #DDDDDD;
  padding-top: 5px; }

.table thead th {
  border-bottom: 0; }
.table th {
  border-top: 0; }
.table td {
  border-top: 0; }

.sponsor-media {
  padding-bottom: 15px;
  padding-top: 15px; }

.sponsor-body {
  margin: auto; }

.btn-theme {
  color: #FFE50D;
  background-image: none;
  background-color: transparent;
  border-color: #FFE50D;
  font-size: 18px;
  border: 2px solid; }
  .btn-theme:hover {
    color: #FEFEFE;
    background-color: #F19E14;
    border-color: #F19E14; }

/* Header Styling
------------------------- */
/*
 * Header
 */
header {
  padding-top: 2em; }

.brand img {
  display: block;
  max-width: 90%;
  height: auto;
  margin-left: 25px; }

.header-sponsor img {
  margin-left: 15px; }

/* Navbar Styling
------------------------- */
/*
 * Navbar
 */
.navbar-dark .navbar-nav .nav-link {
  color: #FEFEFE;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  margin: 0 5px; }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #f4b244; }
.navbar-dark .navbar-nav .active > .nav-link {
  color: #FFE50D; }

.nav-link,
.dropdown-item {
  text-transform: uppercase; }

.dropdown-item:hover {
  background-color: #F19E14; }

.navbar-toggler {
  color: #FEFEFE !important;
  border: 2px solid #FEFEFE !important;
  position: relative; }
  .navbar-toggler:hover {
    color: #f4b244 !important;
    border: 2px solid #f4b244 !important; }

.collapse.show {
  padding-top: 1em; }

/* Breadcrumbs Styling
------------------------- */
/*
 * Breadcrumbs
 */
.breadcrumb {
  background-color: #000000; }

/* SideBar Advert Styling
------------------------- */
/*
 * SideBar Advert
 */
.advert-imgs {
  padding-bottom: 1.25rem; }

/* Footer Content Styling
------------------------- */
/*
 * Footer
 */
.footer {
  background-color: #222222;
  padding: 30px 15px;
  font-size: 12px; }
  .footer h4 {
    font-size: 18px;
    color: #FFE50D; }

.footer-content {
  font-size: 12px;
  text-align: center; }
  .footer-content .footer-widget {
    margin-top: 30px;
    padding-left: 15px; }

.footer-site {
  list-style-type: none;
  margin: 0;
  padding: 15px; }
  .footer-site li {
    margin: 0 0 8px;
    line-height: 15px;
    padding-top: 5px;
    padding-bottom: 5px; }
    .footer-site li a {
      color: #FEFEFE;
      text-decoration: none; }
      .footer-site li a:hover {
        color: #f4b244; }

.footer-contact {
  list-style-type: none;
  margin: 0;
  padding: 15px; }
  .footer-contact li {
    position: relative;
    display: block;
    padding-left: 5px;
    line-height: 20px; }
    .footer-contact li i {
      line-height: 20px;
      color: #F19E14;
      font-size: 18px; }
    .footer-contact li p {
      display: inline-block;
      vertical-align: top;
      padding-left: 15px; }
    .footer-contact li a {
      color: #FEFEFE; }
      .footer-contact li a:hover {
        color: #F19E14; }

.footer-social {
  margin: 0;
  padding: 10px; }
  .footer-social li {
    display: inline;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px; }
    .footer-social li a {
      text-decoration: none;
      color: #555555; }
      .footer-social li a:hover {
        color: #f4b244; }
      .footer-social li a .fa-icons {
        color: #FEFEFE; }

#footer-copyright,
#footer-right {
  color: #FEFEFE;
  font-size: 11px;
  text-align: center;
  padding: 0 15px; }
  #footer-copyright a,
  #footer-right a {
    color: #FFE50D;
    text-decoration: none; }
    #footer-copyright a:hover,
    #footer-right a:hover {
      color: #f4b244;
      text-decoration: none; }
  #footer-copyright p,
  #footer-right p {
    padding-right: 15px;
    font-size: 11px;
    color: #FEFEFE; }

/* All Content Styling
------------------------- */
/*
 * Home page notification
 */
.bulitin {
  margin-bottom: 30px;
  padding-bottom: 15px; }

/*
 * Card / Boxing
 */
.card {
  border: 2px solid #FFD50D;
  margin-bottom: 30px; }

.card-header {
  background-color: #FFD50D;
  color: #000000;
  text-align: center; }
  .card-header h1,
  .card-header h2,
  .card-header h3,
  .card-header h4 {
    color: #000000; }

.bg-theme {
  background-color: #222222; }

/*
 * Contact page notification
 */
.contact {
  list-style-type: none;
  margin: 0;
  padding: 0 15px;
  font-size: 12px; }
  .contact li {
    position: relative;
    display: block;
    padding: 0 0 15px 5px;
    line-height: 20px; }
    .contact li i {
      line-height: 20px;
      color: #F19E14; }
    .contact li p {
      display: inline-block;
      vertical-align: top;
      padding-left: 15px; }
    .contact li a {
      color: #FEFEFE; }
      .contact li a:hover {
        color: #F19E14; }

/* For Lager Devices
------------------------- */
@media (min-width: 768px) {
  /*
  * Navigation and Brand / Logo Section
  */
  .navbar-nav {
    font-size: 18px; }

  .brand {
    margin-bottom: 10px;
    padding: 0; }
    .brand img {
      max-width: 90%;
      height: auto;
      margin-left: 0; }

  /*
  * Header Area
  */
  .header-sponsor img {
    height: auto;
    width: 180px;
    margin-top: 30px;
    margin-left: 15px; }

  /*
  * Content Area
  */
  .sponsor-body {
    padding-top: 65px; }

  .sponsor-media {
    margin: 70px 0 0 auto; }

  /*
  * Footer Section
  */
  .footer-content {
    font-size: 14px;
    text-align: left; }
    .footer-content .footer-widget {
      margin-top: 0;
      padding-left: 15px; }
      .footer-content .footer-widget .footer-social {
        text-align: left; }

  /*
  * Footer Copyright
  */
  #footer-copyright {
    text-align: left; }

  #footer-right {
    text-align: right; }

  /*
  * Contact page notification
  */
  .contact {
    font-size: inherit; } }

/*# sourceMappingURL=layout.css.map */
